@import url('./xy-theme.css');

:root{
  --xy-background-color-default: #1D1D1D!important;
  --xy-handle-background-color-default: #08D29C;
  --vectoEdgeColor: #215ba5;
  --valueEdgeColor: #08D29C;

  --edgeColor :var(--xy-handle-background-color-default);
}

body{
  overflow: hidden;
}


.react-flow__node {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    font-size: 12px;
}
.react-flow__handle{
    background-color: var(--edgeColor);
    border:none;
    border-radius: 50%;
    cursor: pointer;
}

canvas{
  background-color: #000000;
}

input:where(:not([type="button"], [type="reset"], [type="submit"])){
  border:none;
  outline: none;
}

.header{
  background-color: #5b6919;
  color: white;
  /* lg border-top radius */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.header ~ *{
  color:rgb(205, 205, 205);
}

.cnode{
  background-color: #303030;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
}

.cnode label{
  color: rgb(210, 210, 210);
}

.vectorEdge{
  background-color: #215ba5;
}

.geo .react-flow__handle{
  --xy-handle-background-color-default: #0ba97e;
}
.geo .header{
  background-color: #017a5a;
}

.react-flow__edges path{
  stroke: #b4b4b486!important;
  stroke-width: 2;
}
.react-flow__edge	path{
  stroke: #b4b4b4!important;
  stroke-width: 3;
}

.react-flow__edge.selected	path{
  stroke: #08D29C!important;
  stroke-width: 3;
}

.react-flow__edge	{
  
}

.vector .react-flow__handle{
  border-radius: 0!important;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%) !important;
}


.vector .react-flow__handle{
  --xy-handle-background-color-default: #3091be;
}
.vector .header{
  background-color: #216382;
}

.dndflow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
  }
   
  .dndflow aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    color: rgb(230, 230, 230);
    background-color: #1D1D1D;
  }
   
  .dndflow aside .description {
    margin-bottom: 10px;
  }
   
  .dndflow .dndnode {
    height: 30px;
    padding: 10px;
    padding-block: 24px;
    border: none;
    border-radius: 5px;
    background-color: #333333;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: grab;
  }
   
  .dndflow .dndnode.input {
    border-color: #0041d0;
  }
   
  .dndflow .dndnode.output {
    border-color: #ff0072;
  }
   
  .dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
  }
   
  .dndflow .selectall {
    margin-top: 10px;
  }
   
  @media screen and (min-width: 768px) {
    .dndflow {
      flex-direction: row;
    }
   
    .dndflow aside {
      width: 20%;
      max-width: 250px;
    }
  }